In [1]:
# Import Dependencies
import requests
import pandas as pd
import matplotlib.pyplot as plt
import json
import csv
from sqlalchemy import create_engine
import codecs
import re
import ast
from pprint import pprint
from requests import get

requests.__version__

'2.27.1'

In [2]:
file_dir = 'C:/Users/kidas/OneDrive/Desktop/Yelp_Metro_US_Analysis/'

In [3]:
import os
print(os.getcwd())

C:\Users\kidas\OneDrive\Desktop\Yelp_Metro_US_Analysis

In [4]:
# Create file directory variable (update directory)
file_dir = 'C:/Users/kidas/OneDrive/Desktop/Yelp_Metro_US_Analysis/'

# load json file to read
with open (f'{file_dir}data_file.json',mode = 'r', encoding="utf-8") as file:
    #yelp_raw_data = pd.read_json(file, lines=True)
    #yelp_raw_data=ast.literal_eval(json.load(file))
    #pd.DataFrame(
    #yelp_raw_data=pd.read_json(codecs.open ('C:/Users/kidas/OneDrive/Desktop/Yelp_Metro_US_Analysis/data_file.json','r','utf-8'), lines=True, orient='records')
    yelp_raw_data=json.load(file)
    yelp_panda_data=pd.DataFrame(yelp_raw_data)
yelp_panda_data.head(20)

                                                 data
0   {'alias': 'yes-apothecary-new-york-4', 'catego...
1   {'alias': 'la-contenta-new-york', 'categories'...
2   {'alias': 'the-cabin-nyc-new-york-2', 'categor...
3   {'alias': '8282-new-york-2', 'categories': [{'...
4   {'alias': 'joes-shanghai-new-york-2', 'categor...
5   {'alias': 'mắm-new-york-2', 'categories': [{'a...
6   {'alias': 'betty-new-york', 'categories': [{'a...
7   {'alias': '3-times-new-york-5', 'categories': ...
8   {'alias': 'wayla-new-york', 'categories': [{'a...
9   {'alias': 'sweet-chick-new-york', 'categories'...
10  {'alias': 'excuse-my-french-new-york', 'catego...
11  {'alias': 'sobak-new-york-2', 'categories': [{...
12  {'alias': 'okiboru-house-of-tsukemen-new-york'...
13  {'alias': 'davelle-new-york-2', 'categories': ...
14  {'alias': 'best-chicken-new-york', 'categories...
15  {'alias': 'pig-and-khao-new-york', 'categories...
16  {'alias': 'the-mayfly-new-york', 'categories':...
17  {'alias': 'ginger-and-lemongrass-new-york-2', ...
18  {'alias': 'kopitiam-new-york', 'categories': [...
19  {'alias': 'barrio-chino-new-york', 'categories...

In [5]:
# yelp_panda_data.columns.tolist()

In [6]:
len(yelp_panda_data)

4950

In [7]:
#yelp_raw_data

In [8]:
# yelp_panda_data=pd.DataFrame(yelp_raw_data)
# yelp_panda_data.head(20)
# print(yelp_raw_data["data"][1])
# operate on column

places =[]
yelp_raw_data_2 = yelp_raw_data
yelp_panda_data_by_zip = []
# print(yelp_raw_data["data"])
yelp_panda_data_by_zip=pd.DataFrame(yelp_raw_data["data"])
yelp_panda_data_by_zip.head(5)

,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,rating,review_count,transactions,url,price
0,yes-apothecary-new-york-4,"[{'alias': 'szechuan', 'title': 'Szechuan'}, {...","{'latitude': 40.71945, 'longitude': -73.9898}",,479.596250,8YWLuLUKj0t_0_Xv06UUtw,https://s3-media1.fl.yelpcdn.com/bphoto/C9kLck...,False,"{'address1': '119 Orchard St', 'address2': Non...",Ye's Apothecary,,4.5,105,[],https://www.yelp.com/biz/yes-apothecary-new-yo...,NaN
1,la-contenta-new-york,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...","{'latitude': 40.71873, 'longitude': -73.98691}",(212) 432-4180,274.155979,6Ct7OeTRn4caY9g0swFBsw,https://s3-media2.fl.yelpcdn.com/bphoto/FwZAyP...,False,"{'address1': '102 Norfolk St', 'address2': '',...",La Contenta,+12124324180,4.5,865,"[pickup, delivery]",https://www.yelp.com/biz/la-contenta-new-york?...,$$
2,the-cabin-nyc-new-york-2,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 40.72393, 'longitude': -73.98383}",(212) 777-0454,829.052905,J3NT61-AH5d5Gu5tFJhYSw,https://s3-media4.fl.yelpcdn.com/bphoto/fbKZ7H...,False,"{'address1': '205 E 4th St', 'address2': None,...",The Cabin NYC,+12127770454,4.0,495,"[pickup, restaurant_reservation, delivery]",https://www.yelp.com/biz/the-cabin-nyc-new-yor...,$$
3,8282-new-york-2,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 40.72161, 'longitude': -73.98875}",(929) 837-0360,623.059893,fNKYBpQJivICm0ORb3nb_Q,https://s3-media2.fl.yelpcdn.com/bphoto/jMQtrS...,False,"{'address1': '84 Stanton St', 'address2': None...",8282,+19298370360,4.5,105,[],https://www.yelp.com/biz/8282-new-york-2?adjus...,NaN
4,joes-shanghai-new-york-2,"[{'alias': 'shanghainese', 'title': 'Shanghain...","{'latitude': 40.7156608, 'longitude': -73.9967...",(212) 233-8888,946.852614,0CjK3esfpFcxIopebzjFxA,https://s3-media4.fl.yelpcdn.com/bphoto/xM4eGR...,False,"{'address1': '46 Bowery St', 'address2': '', '...",Joe's Shanghai,+12122338888,4.0,6937,"[pickup, delivery]",https://www.yelp.com/biz/joes-shanghai-new-yor...,$$

In [9]:
len(yelp_panda_data_by_zip)

4950

In [10]:
yelp_panda_data_by_zip.dtypes

alias             object
categories        object
coordinates       object
display_phone     object
distance         float64
id                object
image_url         object
is_closed           bool
location          object
name              object
phone             object
rating           float64
review_count       int64
transactions      object
url               object
price             object
dtype: object

In [11]:
# selecting the columns and filter from the original data frame
yelp_data_df = yelp_panda_data_by_zip.loc[:,['id', 'name', 'rating', 'price', 'review_count']]
yelp_data_df

,id,name,rating,price,review_count
0,8YWLuLUKj0t_0_Xv06UUtw,Ye's Apothecary,4.5,NaN,105
1,6Ct7OeTRn4caY9g0swFBsw,La Contenta,4.5,$$,865
2,J3NT61-AH5d5Gu5tFJhYSw,The Cabin NYC,4.0,$$,495
3,fNKYBpQJivICm0ORb3nb_Q,8282,4.5,NaN,105
4,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,4.0,$$,6937
...,...,...,...,...,...
4945,_NSu3mewoSrHRA4f3GZmoQ,Gangnam Style BBQ,4.0,$$,107
4946,85_iQ_mrw8DEFGdgaBov6Q,Flight Tap & Table,3.0,$$,34
4947,3RQ9CUvy_1UjzVZwh04Evg,The Wheelhouse,4.0,NaN,4
4948,skJxdlWIVbXwYIyBYghojQ,3 Eyed Fish,4.0,$$,185
4949,0JnYy8SQWymYZc_9VLJXtg,Monterosso's Italian Restaurant,4.0,$$,130

In [12]:
# yelp_raw_data

In [13]:
categories_df = yelp_panda_data_by_zip.set_index(["id"])["categories"]
categories_df

id
8YWLuLUKj0t_0_Xv06UUtw    [{'alias': 'szechuan', 'title': 'Szechuan'}, {...
6Ct7OeTRn4caY9g0swFBsw    [{'alias': 'mexican', 'title': 'Mexican'}, {'a...
J3NT61-AH5d5Gu5tFJhYSw    [{'alias': 'newamerican', 'title': 'American (...
fNKYBpQJivICm0ORb3nb_Q             [{'alias': 'korean', 'title': 'Korean'}]
0CjK3esfpFcxIopebzjFxA    [{'alias': 'shanghainese', 'title': 'Shanghain...
                                                ...
_NSu3mewoSrHRA4f3GZmoQ    [{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...
85_iQ_mrw8DEFGdgaBov6Q    [{'alias': 'tapasmallplates', 'title': 'Tapas/...
3RQ9CUvy_1UjzVZwh04Evg    [{'alias': 'tradamerican', 'title': 'American ...
skJxdlWIVbXwYIyBYghojQ    [{'alias': 'newamerican', 'title': 'American (...
0JnYy8SQWymYZc_9VLJXtg    [{'alias': 'italian', 'title': 'Italian'}, {'a...
Name: categories, Length: 4950, dtype: object

In [14]:
# creating dataframe for categories_df for parsing out dictionary
categories_df = pd.DataFrame(categories_df)
categories_df

                                                               categories
id
8YWLuLUKj0t_0_Xv06UUtw  [{'alias': 'szechuan', 'title': 'Szechuan'}, {...
6Ct7OeTRn4caY9g0swFBsw  [{'alias': 'mexican', 'title': 'Mexican'}, {'a...
J3NT61-AH5d5Gu5tFJhYSw  [{'alias': 'newamerican', 'title': 'American (...
fNKYBpQJivICm0ORb3nb_Q           [{'alias': 'korean', 'title': 'Korean'}]
0CjK3esfpFcxIopebzjFxA  [{'alias': 'shanghainese', 'title': 'Shanghain...
...                                                                   ...
_NSu3mewoSrHRA4f3GZmoQ  [{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...
85_iQ_mrw8DEFGdgaBov6Q  [{'alias': 'tapasmallplates', 'title': 'Tapas/...
3RQ9CUvy_1UjzVZwh04Evg  [{'alias': 'tradamerican', 'title': 'American ...
skJxdlWIVbXwYIyBYghojQ  [{'alias': 'newamerican', 'title': 'American (...
0JnYy8SQWymYZc_9VLJXtg  [{'alias': 'italian', 'title': 'Italian'}, {'a...

[4950 rows x 1 columns]

In [15]:
#renaming to categories after dropping other categories columns since we will only look at the first column
categories_update = pd.DataFrame(categories_df["categories"].apply(pd.Series)[0])
categories_update = categories_update.rename(columns={0:"categories"})
# pull out only title in the cateogories and drop the alias
categories_update = pd.DataFrame(categories_update["categories"].apply(pd.Series)["title"])
categories_update.head()

                                 title
id
8YWLuLUKj0t_0_Xv06UUtw        Szechuan
6Ct7OeTRn4caY9g0swFBsw         Mexican
J3NT61-AH5d5Gu5tFJhYSw  American (New)
fNKYBpQJivICm0ORb3nb_Q          Korean
0CjK3esfpFcxIopebzjFxA    Shanghainese

In [16]:
# Final categories DF with id set as index
categories_update1 = categories_update.rename(columns={"title":"categories"})
categories_update1.head()

                            categories
id
8YWLuLUKj0t_0_Xv06UUtw        Szechuan
6Ct7OeTRn4caY9g0swFBsw         Mexican
J3NT61-AH5d5Gu5tFJhYSw  American (New)
fNKYBpQJivICm0ORb3nb_Q          Korean
0CjK3esfpFcxIopebzjFxA    Shanghainese

In [17]:
# index id and parse out location
location_df = yelp_panda_data_by_zip.set_index(["id"])["location"]
location_df.head()

id
8YWLuLUKj0t_0_Xv06UUtw    {'address1': '119 Orchard St', 'address2': Non...
6Ct7OeTRn4caY9g0swFBsw    {'address1': '102 Norfolk St', 'address2': '',...
J3NT61-AH5d5Gu5tFJhYSw    {'address1': '205 E 4th St', 'address2': None,...
fNKYBpQJivICm0ORb3nb_Q    {'address1': '84 Stanton St', 'address2': None...
0CjK3esfpFcxIopebzjFxA    {'address1': '46 Bowery St', 'address2': '', '...
Name: location, dtype: object

In [18]:
# creating indexed DF for location to parse out city and state
location_df = pd.DataFrame(location_df)
location_df

                                                                 location
id
8YWLuLUKj0t_0_Xv06UUtw  {'address1': '119 Orchard St', 'address2': Non...
6Ct7OeTRn4caY9g0swFBsw  {'address1': '102 Norfolk St', 'address2': '',...
J3NT61-AH5d5Gu5tFJhYSw  {'address1': '205 E 4th St', 'address2': None,...
fNKYBpQJivICm0ORb3nb_Q  {'address1': '84 Stanton St', 'address2': None...
0CjK3esfpFcxIopebzjFxA  {'address1': '46 Bowery St', 'address2': '', '...
...                                                                   ...
_NSu3mewoSrHRA4f3GZmoQ  {'address1': '7903 W Grandridge Blvd', 'addres...
85_iQ_mrw8DEFGdgaBov6Q  {'address1': None, 'address2': None, 'address3...
3RQ9CUvy_1UjzVZwh04Evg  {'address1': '7048 W Grandridge Blvd', 'addres...
skJxdlWIVbXwYIyBYghojQ  {'address1': '1970 Keene Rd', 'address2': None...
0JnYy8SQWymYZc_9VLJXtg  {'address1': '1026 Lee Blvd', 'address2': '', ...

[4950 rows x 1 columns]

In [19]:
# location DF
location_update = pd.DataFrame(location_df["location"].apply(pd.Series))
#location_update = location_update.rename(columns={0:"categories"})
location_update

,address1,address2,address3,city,country,display_address,state,zip_code
id,,,,,,,,
8YWLuLUKj0t_0_Xv06UUtw,119 Orchard St,None,,New York,US,"[119 Orchard St, New York, NY 10002]",NY,10002
6Ct7OeTRn4caY9g0swFBsw,102 Norfolk St,,,New York,US,"[102 Norfolk St, New York, NY 10002]",NY,10002
J3NT61-AH5d5Gu5tFJhYSw,205 E 4th St,None,,New York,US,"[205 E 4th St, New York, NY 10009]",NY,10009
fNKYBpQJivICm0ORb3nb_Q,84 Stanton St,None,,New York,US,"[84 Stanton St, New York, NY 10002]",NY,10002
0CjK3esfpFcxIopebzjFxA,46 Bowery St,,,New York,US,"[46 Bowery St, New York, NY 10013]",NY,10013
...,...,...,...,...,...,...,...,...
_NSu3mewoSrHRA4f3GZmoQ,7903 W Grandridge Blvd,,None,Kennewick,US,"[7903 W Grandridge Blvd, Kennewick, WA 99336]",WA,99336
85_iQ_mrw8DEFGdgaBov6Q,None,None,None,Richland,US,"[Richland, WA 99352]",WA,99352
3RQ9CUvy_1UjzVZwh04Evg,7048 W Grandridge Blvd,,None,Kennewick,US,"[7048 W Grandridge Blvd, Kennewick, WA 99336]",WA,99336
skJxdlWIVbXwYIyBYghojQ,1970 Keene Rd,None,,Richland,US,"[1970 Keene Rd, Richland, WA 99352]",WA,99352
0JnYy8SQWymYZc_9VLJXtg,1026 Lee Blvd,,,Richland,US,"[1026 Lee Blvd, Richland, WA 99352]",WA,99352

In [20]:
# Location DF with id as index
location_update = location_update.loc[:,["city", "state"]]
location_update

                             city state
id
8YWLuLUKj0t_0_Xv06UUtw   New York    NY
6Ct7OeTRn4caY9g0swFBsw   New York    NY
J3NT61-AH5d5Gu5tFJhYSw   New York    NY
fNKYBpQJivICm0ORb3nb_Q   New York    NY
0CjK3esfpFcxIopebzjFxA   New York    NY
...                           ...   ...
_NSu3mewoSrHRA4f3GZmoQ  Kennewick    WA
85_iQ_mrw8DEFGdgaBov6Q   Richland    WA
3RQ9CUvy_1UjzVZwh04Evg  Kennewick    WA
skJxdlWIVbXwYIyBYghojQ   Richland    WA
0JnYy8SQWymYZc_9VLJXtg   Richland    WA

[4950 rows x 2 columns]

In [21]:
# merge difference data frame in one 
from functools import reduce

#define list of DataFrames
yelp_data_df2 = [yelp_data_df, location_update, categories_update1, categories_update]

#merge all DataFrames into one
data_df = reduce(lambda  left,right: pd.merge(left,right,on=['id'],
                                            how='outer'), yelp_data_df2)
data_df.head()

,id,name,rating,price,review_count,city,state,categories,title
0,8YWLuLUKj0t_0_Xv06UUtw,Ye's Apothecary,4.5,NaN,105,New York,NY,Szechuan,Szechuan
1,6Ct7OeTRn4caY9g0swFBsw,La Contenta,4.5,$$,865,New York,NY,Mexican,Mexican
2,J3NT61-AH5d5Gu5tFJhYSw,The Cabin NYC,4.0,$$,495,New York,NY,American (New),American (New)
3,fNKYBpQJivICm0ORb3nb_Q,8282,4.5,NaN,105,New York,NY,Korean,Korean
4,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,4.0,$$,6937,New York,NY,Shanghainese,Shanghainese

In [22]:
# selecting the columns and Loc from the original data frame
new_yelp_data_df = data_df.loc[:,['categories', 'title','rating', 'price', 'review_count','name', 'city', 'state',]]
new_yelp_data_df

,categories,title,rating,price,review_count,name,city,state
0,Szechuan,Szechuan,4.5,NaN,105,Ye's Apothecary,New York,NY
1,Mexican,Mexican,4.5,$$,865,La Contenta,New York,NY
2,American (New),American (New),4.0,$$,495,The Cabin NYC,New York,NY
3,Korean,Korean,4.5,NaN,105,8282,New York,NY
4,Shanghainese,Shanghainese,4.0,$$,6937,Joe's Shanghai,New York,NY
...,...,...,...,...,...,...,...,...
65043,Barbeque,Barbeque,4.0,$$,107,Gangnam Style BBQ,Kennewick,WA
65044,Tapas/Small Plates,Tapas/Small Plates,3.0,$$,34,Flight Tap & Table,Richland,WA
65045,American (Traditional),American (Traditional),4.0,NaN,4,The Wheelhouse,Kennewick,WA
65046,American (New),American (New),4.0,$$,185,3 Eyed Fish,Richland,WA
65047,Italian,Italian,4.0,$$,130,Monterosso's Italian Restaurant,Richland,WA

In [23]:
# check the raws are duplicated
new_yelp_data_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
65043    False
65044    False
65045    False
65046    False
65047    False
Length: 65048, dtype: bool

In [24]:
# identify incomplete rows
new_yelp_data_df.count()

categories      65048
title           65048
rating          65048
price           45544
review_count    65048
name            65048
city            65048
state           65048
dtype: int64

In [25]:
#drop all raws with missing information
new_yelp_data_df2 = new_yelp_data_df.dropna(how='any')
new_yelp_data_df2
#new_yelp_data_df.dropna(how='any', inplace=True)

,categories,title,rating,price,review_count,name,city,state
1,Mexican,Mexican,4.5,$$,865,La Contenta,New York,NY
2,American (New),American (New),4.0,$$,495,The Cabin NYC,New York,NY
4,Shanghainese,Shanghainese,4.0,$$,6937,Joe's Shanghai,New York,NY
7,Dim Sum,Dim Sum,4.0,$$,206,3 Times,New York,NY
8,Thai,Thai,4.5,$$$,545,Wayla,New York,NY
...,...,...,...,...,...,...,...,...
65042,Wine Bars,Wine Bars,4.0,$$,86,Tap & Barrel,Richland,WA
65043,Barbeque,Barbeque,4.0,$$,107,Gangnam Style BBQ,Kennewick,WA
65044,Tapas/Small Plates,Tapas/Small Plates,3.0,$$,34,Flight Tap & Table,Richland,WA
65046,American (New),American (New),4.0,$$,185,3 Eyed Fish,Richland,WA
65047,Italian,Italian,4.0,$$,130,Monterosso's Italian Restaurant,Richland,WA

In [26]:
# verify dropped rows
new_yelp_data_df.count()

categories      65048
title           65048
rating          65048
price           45544
review_count    65048
name            65048
city            65048
state           65048
dtype: int64

In [27]:
# check columns are the wrong data type.
new_yelp_data_df.dtypes

categories       object
title            object
rating          float64
price            object
review_count      int64
name             object
city             object
state            object
dtype: object

In [28]:
#use pd.to numeric() method to convert the datatype of the price column
#new_yelp_data_df['price'] = pd.to_numeric(new_yelp_data_df['price'])

In [29]:
#display an overview of the title column
new_yelp_data_df['title'].value_counts().to_frame()

                              title
Italian                        4683
Mexican                        4633
American (New)                 4295
Chinese                        3220
Caribbean                      2549
...                             ...
Farmers Market                    1
Do-It-Yourself Food               1
Community Service/Non-Profit      1
Bookstores                        1
Gas Stations                      1

[176 rows x 1 columns]

In [30]:
#unique value count 
new_yelp_data_df['title'].unique()

array(['Szechuan', 'Mexican', 'American (New)', 'Korean', 'Shanghainese',
       'Vietnamese', 'Dim Sum', 'Thai', 'Southern', 'Bars', 'Ramen',
       'Japanese', 'Chicken Wings', 'Filipino', 'American (Traditional)',
       'Malaysian', 'Chinese', 'French', 'Mediterranean', 'Greek',
       'Italian', 'Cafes', 'Bakeries', 'Sushi Bars', 'Izakaya', 'Indian',
       'Fast Food', 'Sandwiches', 'Basque', 'Desserts',
       'Tapas/Small Plates', 'Moroccan', 'Turkish', 'Noodles',
       'Tapas Bars', 'Georgian', 'Breakfast & Brunch', 'Vegan',
       'Soul Food', 'Chicken Shop', 'Diners', 'Caribbean', 'Wine Bars',
       'Middle Eastern', 'Kosher', 'Comfort Food', 'Cocktail Bars',
       'Burgers', 'Falafel', 'Ethiopian', 'Pizza', 'Food Stands',
       'Peruvian', 'Beer Bar', 'Cuban', 'Latin American', 'Steakhouses',
       'Seafood', 'African', 'Puerto Rican', 'Barbeque', 'Dominican',
       'Delis', 'Salad', 'Hot Pot', 'Hong Kong Style Cafe', 'Cantonese',
       'Spanish', 'Cajun/Creole', 'Sports Bars', 'Creperies',
       'Asian Fusion', 'Coffee & Tea', 'Sri Lankan', 'German',
       'Singaporean', 'Tacos', 'Beer Gardens', 'Modern European',
       'Juice Bars & Smoothies', 'New Mexican Cuisine', 'Buffets',
       'Venezuelan', 'Restaurants', 'Salvadoran', 'Cambodian',
       'Food Trucks', 'Lounges', 'Colombian', 'Pubs', 'Trinidadian',
       'Senegalese', 'Halal', 'Irish Pub', 'Wraps', 'Health Markets',
       'Bubble Tea', 'Pakistani', 'Food Delivery Services', 'Donuts',
       'Bagels', 'Bangladeshi', 'International Grocery',
       'Seafood Markets', 'Brazilian', 'Waffles', 'Gastropubs',
       'Portuguese', 'Farmers Market', 'Irish', 'Food Court',
       'Bookstores', 'Grocery', 'Haitian', 'Fish & Chips',
       'Himalayan/Nepalese', 'Street Vendors', 'Taiwanese', 'Lebanese',
       'Pool Halls', 'Persian/Iranian', 'Tiki Bars', 'Hawaiian', 'Arabic',
       'Australian', 'Community Service/Non-Profit',
       'Do-It-Yourself Food', 'Hot Dogs', 'Uzbek', 'Empanadas', 'Syrian',
       'Indonesian', 'Austrian', 'Kebab', 'Sicilian', 'Russian',
       'Tex-Mex', 'Vegetarian', 'Caterers', 'Butcher', 'Soup',
       'Argentine', 'Burmese', 'Music Venues', 'Poke', 'Ukrainian',
       'Pasta Shops', 'Belgian', 'Brewpubs', 'Specialty Food',
       'Breweries', 'Dive Bars', 'Tea Rooms', 'Polish', 'Pancakes',
       'Cheesesteaks', 'Tobacco Shops', 'Venues & Event Spaces',
       'South African', 'Cafeteria', 'Pop-up Shops',
       'Beer, Wine & Spirits', 'Jazz & Blues', 'Pop-Up Restaurants',
       'Pan Asian', 'Smokehouse', 'Coffee Roasteries', 'Brasseries',
       'Scandinavian', 'Wine Tasting Room', 'Distilleries',
       'Ice Cream & Frozen Yogurt', 'Florists', 'Gift Shops', 'Laotian',
       'Gas Stations'], dtype=object)

In [31]:
# display a statistical overview
# We can infer tha maximum allowable individual contribution from 'max'
new_yelp_data_df.describe(include="all")

,categories,title,rating,price,review_count,name,city,state
count,65048,65048,65048.000000,45544,65048.000000,65048,65048,65048
unique,176,176,NaN,5,NaN,3623,315,9
top,Italian,Italian,NaN,$$,NaN,La Catedral Cafe & Restaurant,Brooklyn,NY
freq,4683,4683,NaN,37742,NaN,1296,26842,51433
mean,NaN,NaN,4.287718,NaN,274.662065,NaN,NaN,NaN
std,NaN,NaN,0.439779,NaN,472.179069,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,25.000000,NaN,NaN,NaN
50%,NaN,NaN,4.500000,NaN,95.000000,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,362.000000,NaN,NaN,NaN
max,NaN,NaN,5.000000,NaN,9515.000000,NaN,NaN,NaN

In [32]:
new_yelp_data_df2

,categories,title,rating,price,review_count,name,city,state
1,Mexican,Mexican,4.5,$$,865,La Contenta,New York,NY
2,American (New),American (New),4.0,$$,495,The Cabin NYC,New York,NY
4,Shanghainese,Shanghainese,4.0,$$,6937,Joe's Shanghai,New York,NY
7,Dim Sum,Dim Sum,4.0,$$,206,3 Times,New York,NY
8,Thai,Thai,4.5,$$$,545,Wayla,New York,NY
...,...,...,...,...,...,...,...,...
65042,Wine Bars,Wine Bars,4.0,$$,86,Tap & Barrel,Richland,WA
65043,Barbeque,Barbeque,4.0,$$,107,Gangnam Style BBQ,Kennewick,WA
65044,Tapas/Small Plates,Tapas/Small Plates,3.0,$$,34,Flight Tap & Table,Richland,WA
65046,American (New),American (New),4.0,$$,185,3 Eyed Fish,Richland,WA
65047,Italian,Italian,4.0,$$,130,Monterosso's Italian Restaurant,Richland,WA

In [33]:
new_yelp_data_df.to_csv('yelp_data.csv', index=True)

In [34]:
# selecting the columns and Loc from the original data frame
yelp_data_df1 = new_yelp_data_df2.loc[:,['categories','rating', 'price', 'review_count','name', 'city', 'state']]
yelp_data_df1.head(20)

,categories,rating,price,review_count,name,city,state
1,Mexican,4.5,$$,865,La Contenta,New York,NY
2,American (New),4.0,$$,495,The Cabin NYC,New York,NY
4,Shanghainese,4.0,$$,6937,Joe's Shanghai,New York,NY
7,Dim Sum,4.0,$$,206,3 Times,New York,NY
8,Thai,4.5,$$$,545,Wayla,New York,NY
9,Southern,4.0,$$,1849,Sweet Chick,New York,NY
10,Bars,4.0,$$,346,Excuse My French,New York,NY
11,Korean,5.0,$$,13,Sobak,New York,NY
12,Ramen,4.5,$$,73,Okiboru House of Tsukemen,New York,NY
13,Japanese,4.0,$$,305,Davelle,New York,NY
15,Filipino,4.0,$$$,1815,Pig and Khao,New York,NY
17,Vietnamese,4.0,$$,529,Ginger and Lemongrass,New York,NY
18,Malaysian,4.0,$$,894,Kopitiam,New York,NY
19,Mexican,4.0,$$,1170,Barrio Chino,New York,NY
20,Chinese,4.5,$,1110,Shu Jiao Fu Zhou,New York,NY
21,French,4.5,$$,321,Les Enfants de Boheme,New York,NY
23,Japanese,4.5,$$,679,Benemon,New York,NY
24,Mediterranean,4.5,$,221,Lava Shawarma,New York,NY
25,Greek,4.0,$$,764,Kiki's,New York,NY
27,Italian,4.0,$$,1442,Supper,New York,NY

In [35]:
# selecting the columns and Loc from the original data frame
yelp_data_df1 = new_yelp_data_df2.loc[0:3,'price']
str(yelp_data_df1)

'1    $$\n2    $$\nName: price, dtype: object'

In [36]:
# selecting the columns and Loc from the original data frame
yelp_data_df1 = new_yelp_data_df2.loc[:,['price']]
len(str(yelp_data_df1))

169

In [37]:
# selecting the columns and Loc from the original data frame
yelp_data_df1 = new_yelp_data_df2.loc[:,['categories','rating', 'price', 'review_count','name', 'city', 'state',]]
yelp_data_df1.head(20)

,categories,rating,price,review_count,name,city,state
1,Mexican,4.5,$$,865,La Contenta,New York,NY
2,American (New),4.0,$$,495,The Cabin NYC,New York,NY
4,Shanghainese,4.0,$$,6937,Joe's Shanghai,New York,NY
7,Dim Sum,4.0,$$,206,3 Times,New York,NY
8,Thai,4.5,$$$,545,Wayla,New York,NY
9,Southern,4.0,$$,1849,Sweet Chick,New York,NY
10,Bars,4.0,$$,346,Excuse My French,New York,NY
11,Korean,5.0,$$,13,Sobak,New York,NY
12,Ramen,4.5,$$,73,Okiboru House of Tsukemen,New York,NY
13,Japanese,4.0,$$,305,Davelle,New York,NY
15,Filipino,4.0,$$$,1815,Pig and Khao,New York,NY
17,Vietnamese,4.0,$$,529,Ginger and Lemongrass,New York,NY
18,Malaysian,4.0,$$,894,Kopitiam,New York,NY
19,Mexican,4.0,$$,1170,Barrio Chino,New York,NY
20,Chinese,4.5,$,1110,Shu Jiao Fu Zhou,New York,NY
21,French,4.5,$$,321,Les Enfants de Boheme,New York,NY
23,Japanese,4.5,$$,679,Benemon,New York,NY
24,Mediterranean,4.5,$,221,Lava Shawarma,New York,NY
25,Greek,4.0,$$,764,Kiki's,New York,NY
27,Italian,4.0,$$,1442,Supper,New York,NY